body {
    background-color: #33CCCC; }
  
    .weatherDiv {
        text-align: center; }

        img.defaultWeather {
            display: block;
            margin-left: auto;
            margin-right: auto; }